body {
    background-color: $background;
    color: $white;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
}

.container {
    max-width: 1520px;
    padding: 0 15px;
    margin: 0 auto;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.btn {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    letter-spacing: 0.15em;
    border-radius: 50px;
    padding: 13px 38px;
}

.btn--fill {
    text-transform: uppercase;
    color: $background;
    background-color: $accent;
}

.btn--unfill {
    color: $white;
    border: 1px solid $white;
    background-color: $background;
}

.btn--white {
    background-color: $white;
    color: $background;
    text-transform: uppercase;
}

.title {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 44px;
    line-height: 100%;
    color: $accent;
    margin-bottom: 10px;
}