body {
    background-color: $background;
    color: $white;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
}

.container {
    max-width: 1520px;
    padding: 0 15px;
    margin: 0 auto;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.btn {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    letter-spacing: 0.15em;
    border-radius: 50px;
    padding: 13px 38px;
}

.btn--fill {
    text-transform: uppercase;
    color: $background;
    background-color: $accent;
}

.btn--unfill {
    color: $white;
    border: 1px solid $white;
    background-color: $background;
}

.btn--white {
    background-color: $white;
    color: $background;
    text-transform: uppercase;
}

.title {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 44px;
    line-height: 100%;
    letter-spacing: 0.15em;
    color: $accent;
    margin-bottom: 10px;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: -15%;
        right: 0;
        background-color: $accent;
    }

}

.social {
    background-color: $background;

    &__text {
        display: block;
        font-family: 'Oswald', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.15em;
        color: $accent;
        margin-bottom: 10px;
    }

    &__list {
        display: flex;
    }

    &__item {

        &:not(:last-child) {
            margin-right: 58px;
        }

    }

}

.category {
    align-self: flex-start;
    font-size: 12px;
    font-weight: 600;
    line-height: 100%;
    text-transform: uppercase;
    color: $background;
    padding: 8px 20px;
    background-color: $white;
    border-radius: 40px;

}

.slick-dots {
    display: flex;
    position: absolute;
    line-height: 26px;
    bottom: -6%;
    left: 50%;
    transform: translateX(-50%);

    li {

        button {
            font-size: 0;
            width: 15px;
            height: 15px;
            border: 1px solid $gray;
            border-radius: 50%;
        }

        &.slick-active {

            button {
                border: none;
                background-color: $accent;
            }

        }

    }

    li:not(:last-child) {
        margin-right: 20px;
    }

}

.slick-prev,
.slick-next {
    position: absolute;
    bottom: -6%;
}

.slick-prev {
    left: 44%;
}

.slick-next {
    right: 44%;
}
